<!-- twikoo -->
<div class="post--ingle__comments" data-id="{{ .File.UniqueID}}">
    <div id="comments" class="responsesWrapper">
        <h3 class="comments--title"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" width="16" height="16">
                <g>
                    <path
                        d="M1.751 10c0-4.42 3.584-8 8.005-8h4.366c4.49 0 8.129 3.64 8.129 8.13 0 2.96-1.607 5.68-4.196 7.11l-8.054 4.46v-3.69h-.067c-4.49.1-8.183-3.51-8.183-8.01zm8.005-6c-3.317 0-6.005 2.69-6.005 6 0 3.37 2.77 6.08 6.138 6.01l.351-.01h1.761v2.3l5.087-2.81c1.951-1.08 3.163-3.13 3.163-5.36 0-3.39-2.744-6.13-6.129-6.13H9.756z">
                    </path>
                </g>
            </svg><span class="count"></span></h3>
        <ol class="commentlist sulliComment--list">
        </ol>
        <nav class="commentnav u-textAlignCenter"></nav>
        <div id="respond" class="comment-respond">
            <div id="tcomment"></div>
            <script src="https://cdn.jsdelivr.net/npm/twikoo@1.6.44/dist/twikoo.all.min.js"></script>
            <script>
            twikoo.init({
              envId: 'https://twikoo.010316.xyz:2018/', // 腾讯云环境填 envId；Vercel 环境填地址（https://xxx.vercel.app）
              el: '#tcomment', // 容器元素
              // region: 'ap-guangzhou', // 环境地域，默认为 ap-shanghai，腾讯云环境填 ap-shanghai 或 ap-guangzhou；Vercel 环境不填
              // path: location.pathname, // 用于区分不同文章的自定义 js 路径，如果您的文章路径不是 location.pathname，需传此参数
              // lang: 'zh-CN', // 用于手动设定评论区语言，支持的语言列表 https://github.com/twikoojs/twikoo/blob/main/src/client/utils/i18n/index.js
            })
            </script>
            </form>
        </div>
    </div>
</div>